absl-py==2.1.0
accessible-pygments==0.0.5
ackermann-controller==0.0.0
ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.2.4
actuator-msgs==0.0.1
addict==2.4.0
aiowsgi==0.8
alabaster==0.7.16
ament-cmake-test==1.3.11
ament-copyright==0.12.11
ament-cppcheck==0.12.11
ament-cpplint==0.12.11
ament-flake8==0.12.11
ament-index-python==1.4.0
ament-lint-cmake==0.12.11
ament-lint==0.12.11
ament-package==0.14.0
ament-pep257==0.12.11
ament-uncrustify==0.12.11
ament-xmllint==0.12.11
angles==1.15.0
ansitable==0.11.2
antlr4-python3-runtime==4.9.3
asttokens==3.0.0
attrs==24.2.0
autodocsumm==0.2.14
babel==2.17.0
beautifulsoup4==4.13.3
blinker==1.9.0
bond==3.0.2
boto3==1.36.4
botocore==1.36.4
builtin-interfaces==1.2.1
cartographer-ros-msgs==2.0.9002
cartpole==0.1.0
carver-gps==0.0.0
certifi==2024.12.14
cfgv==3.4.0
charset-normalizer==3.4.1
clarabel==0.10.0
click==8.1.7
cloudpickle==3.1.1
colored==2.2.4
comm==0.2.2
composition-interfaces==1.2.1
configargparse==1.7
contourpy==1.3.1
control-msgs==4.7.0
controller-manager-msgs==2.47.0
controller-manager==2.48.0
cv-bridge==3.2.1
cvxpy==1.6.3
cycler==0.12.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.18.2
data-carriage-interface==0.0.0
dd-controller==0.0.0
decorator==5.1.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.2.4
diagnostic-updater==4.0.0
distlib==0.3.9
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.19
domain-coordinator==0.10.0
dummy-description==0.0.0
dwb-msgs==1.1.17
egl-probe==1.0.2
einops==0.8.0
example-description==0.0.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
exceptiongroup==1.2.2
executing==2.1.0
explorer-bringup==0.0.0
explorer-interfaces==0.0.0
explorer-map-utils==0.0.0
explorer-wanderer==0.0.0
farama-notifications==0.0.4
fastjsonschema==2.21.1
filelock==3.16.1
flask==3.0.3
fonttools==4.55.4
fra532-gazebo==0.0.0
fra532-nav==0.0.0
fra532-slam==0.0.0
fsspec==2024.12.0
fun4==0.0.0
gazebo-model-attachment-plugin-msgs==1.0.3
gazebo-model-attachment-plugin==1.0.3
gazebo-msgs==3.7.0
gazebo-video-monitor-interfaces==0.8.1
gazebo-video-monitor-utils==0.8.1
generate-parameter-library-py==0.4.0
geographic-msgs==1.0.6
geometry-msgs==4.2.4
gitdb==4.0.12
gitpython==3.1.44
gps-interfaces==0.0.0
gps-msgs==2.0.4
grpcio==1.69.0
gym-notices==0.0.8
gym==0.23.1
gymnasium==1.0.0
h5py==3.12.1
hidapi==0.14.0.post4
huggingface-hub==0.27.1
hydra-core==1.3.2
identify==2.6.1
idna==3.10
image-geometry==3.2.1
imageio-ffmpeg==0.6.0
imageio==2.37.0
imagesize==1.4.1
importlib-metadata==8.6.1
imu-calibration==0.0.0
imu-interfaces==0.0.0
interactive-markers==2.3.2
ipython==8.30.0
ipywidgets==8.1.5
isaacsim-app==4.2.0.2
isaacsim-asset==4.2.0.2
isaacsim-benchmark==4.2.0.2
isaacsim-code-editor==4.2.0.2
isaacsim-core==4.2.0.2
isaacsim-cortex==4.2.0.2
isaacsim-example==4.2.0.2
isaacsim-extscache-kit-sdk==4.2.0.2
isaacsim-extscache-kit==4.2.0.2
isaacsim-extscache-physics==4.2.0.2
isaacsim-gui==4.2.0.2
isaacsim-kernel==4.2.0.2
isaacsim-replicator==4.2.0.2
isaacsim-rl==4.2.0.2
isaacsim-robot-motion==4.2.0.2
isaacsim-robot-setup==4.2.0.2
isaacsim-robot==4.2.0.2
isaacsim-ros1==4.2.0.2
isaacsim-ros2==4.2.0.2
isaacsim-sensor==4.2.0.2
isaacsim-storage==4.2.0.2
isaacsim-template==4.2.0.2
isaacsim-test==4.2.0.2
isaacsim-utils==4.2.0.2
isaacsim==4.2.0.2
iso8601==2.1.0
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
joint-state-publisher-gui==2.4.0
joint-state-publisher==2.4.0
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
jupyter-core==5.7.2
jupyterlab-widgets==3.0.13
kiwisolver==1.4.8
lark-parser==0.12.0
laser-geometry==2.4.0
latexcodec==3.0.0
launch-ros==0.19.8
launch-testing-ros==0.19.8
launch-testing==1.0.7
launch-xml==1.0.7
launch-yaml==1.0.7
launch==1.0.7
lifecycle-msgs==1.2.1
logging-demo==0.20.5
map-msgs==2.1.0
markdown-it-py==3.0.0
markdown==3.7
markupsafe==3.0.2
matplotlib-inline==0.1.7
matplotlib==3.10.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
message-filters==4.3.5
mir-driver==0.0.0
mir-msgs==1.1.1
mir-restapi==0.0.0
moviepy==2.1.2
mpmath==1.3.0
my-controller==0.0.0
myst-parser==3.0.1
nav-2d-msgs==1.1.17
nav-msgs==4.2.4
nav2-common==1.1.18
nav2-msgs==1.1.18
nav2-simple-commander==1.0.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nodeenv==1.9.1
numpy==1.24.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
omegaconf==2.3.0
omni-isaac-lab-assets==0.1.4
omni-isaac-lab-tasks==0.10.18
omni-isaac-lab==0.30.6
omniverse-kit==106.1.0.140981
onnx==1.16.1
open3d==0.18.0
opencv-python==4.11.0.86
osqp==0.6.7.post3
osrf-pycommon==2.1.4
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathtools==0.1.2
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pgraph-python==0.6.2
pillow==10.4.0
pip==25.0.1
platformdirs==4.3.6
plotly==5.24.1
pre-commit==4.0.1
prettytable==3.3.0
proglog==0.1.10
progress==1.6
promise==2.3
prompt-toolkit==3.0.48
protobuf==3.20.3
psutil==5.9.8
pure-eval==0.2.3
pybtex-docutils==1.0.3
pybtex==0.24.0
pydata-sphinx-theme==0.16.1
pygame==2.6.1
pyglet==1.5.31
pygments==2.19.1
pyparsing==3.2.1
pyperclip==1.9.0
pyquaternion==0.9.9
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-qt-binding==1.1.2
pytz==2024.2
pyyaml==6.0.2
qdldl==0.1.7.post5
qt-dotgraph==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
qt-gui==2.2.3
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.1
rclpy-message-converter==2.0.2
rclpy==3.3.15
rcutils==5.1.6
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
resource-retriever==3.1.2
retrying==1.3.4
rl-games==1.6.1
rmw-dds-common==1.6.0
robomimic==0.3.0
robot-localization-ekf==0.0.0
robot-localization==3.5.3
roboticstoolbox-python==1.1.0
ros-gz-interfaces==0.244.16
ros2action==0.18.11
ros2bag==0.15.13
ros2cli==0.18.11
ros2component==0.18.11
ros2controlcli==2.47.0
ros2doctor==0.18.11
ros2interface==0.18.11
ros2launch==0.19.8
ros2lifecycle==0.18.11
ros2multicast==0.18.11
ros2node==0.18.11
ros2param==0.18.11
ros2pkg==0.18.11
ros2run==0.18.11
ros2service==0.18.11
ros2topic==0.18.11
rosbag2-interfaces==0.15.13
rosbag2-py==0.15.13
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpds-py==0.22.3
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag-plugins==1.1.5
rqt-bag==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui-py==1.1.7
rqt-gui==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsl-rl==2.0.2
rtb-data==1.0.1
s3transfer==0.11.1
safetensors==0.5.2
schema==0.7.7
scikit-learn==1.6.0
scipy==1.15.2
scripts==3.7.0
scs==3.2.7.post2
sensor-msgs-py==4.2.4
sensor-msgs==4.2.4
sentry-sdk==2.20.0
serial==0.0.97
setproctitle==1.3.4
setuptools==58.2.0
shape-msgs==4.2.4
shortuuid==1.0.13
six==1.17.0
skrl==1.4.0
slam-toolbox==2.6.9
smclib==3.0.2
smmap==5.0.2
snowballstemmer==2.2.0
soupsieve==2.6
sparkfun-ublox-gps==1.1.4
spatialgeometry==1.1.0
spatialmath-python==1.1.11
sphinx-book-theme==1.0.1
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx-icon==0.2.2
sphinx-multiversion==0.2.4
sphinx-tabs==3.4.7
sphinx==6.2.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxemoji==0.3.1
spidev==3.6
sros2==0.10.5
stable-baselines3==2.4.1
stack-data==0.6.3
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
stereo-msgs==4.2.4
swift-sim==1.1.0
sympy==1.13.1
teleop-twist-keyboard==2.4.0
tenacity==9.0.0
tensorboard-data-server==0.7.2
tensorboard==2.18.0
tensorboardx==2.6.2.2
termcolor==2.5.0
tf-transformations==1.1.0
tf2-geometry-msgs==0.25.11
tf2-kdl==0.25.11
tf2-msgs==0.25.11
tf2-py==0.25.11
tf2-ros-py==0.25.11
tf2-tools==0.25.11
theora-image-transport==2.5.2
threadpoolctl==3.5.0
tim==0.1.0
tokenizers==0.21.0
toml==0.10.2
topic-monitor==0.20.5
torch==2.4.0+cu118
torchvision==0.19.0
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.2.4
transformers==4.48.1
transforms3d==0.4.2
trimesh==4.6.0
triton==3.0.0
turtlebot3-example==2.1.5
turtlebot3-msgs==2.2.3
turtlebot3-teleop==2.1.5
turtlesim==1.4.2
twist-stamper==0.0.2
typing-extensions==4.12.2
tzdata==2024.2
unique-identifier-msgs==2.2.1
urllib3==2.3.0
virtualenv==20.26.6
vision-msgs==4.1.1
visualization-msgs==4.2.4
waitress==3.0.2
wandb==0.12.21
warp-lang==1.5.1
wcfg==6
wcwidth==0.2.13
webob==1.8.9
websockets==13.1
werkzeug==3.0.6
wheel==0.44.0
widgetsnbextension==4.0.13
xacro==2.0.8
zipp==3.21.0